@model IEnumerable<MVCWEBUI.Models.DB.User>
@{
    ViewData["Title"] = "Delete";
}
<h1>Delete</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Phone)
            </th>
        </tr>

    </thead>
    <tbody>
        <button class="btn-warning rounded-pill px-6" action="Home/Index" type="button">Güncelle</button>
        <button class="btn-warning rounded-pill px-6" action="Home/Index" type="button">Show Details</button>
        <button class="btn-warning rounded-pill px-6" action="Home/Index" type="button">Delete</button>
